.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

p {
    width: 100%;
    height: auto;
    background-color: #4095B5;
    color: white;
    text-align: center;
    margin-top: 1px;
}

div img {
    display: flex;
    margin-right: auto;
    margin-left: auto;
}

.d1, .d2, .d3, .d4, .d5, .d6, .d7 {
    display: flex;
    width: 14%;
    min-width: 120px;
    height: auto;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.d1:hover, .d2:hover, .d3:hover, .d4:hover, .d5:hover, .d6:hover, .d7:hover {
    box-shadow: 0 14px 28px grey, 0 10px 10px grey;
}

p, h4 {
    text-align: center;
}

p {
    font-family: Lato Bold (700);
    font-size: 1.5em;
}

h4 {
    font-family: Lato Regular (400);
    font-size: 2em;
}