body {
    width: 100%;
}

div {
    display: flex;
    margin-right: 10px;
}

input {
    border: 2px solid blue;
    border-radius: 4px;
    color: green;
    line-height: 2em;
    width: 100%;

}

button {
    border-radius: 4px;
    color: green;
    line-height: 2em;
    width: auto;
}

.search:active {
    color: green;
}

.search:hover {
    border: 2px solid blue;
    color: green;
}

button:hover, .search:hover {
    color: red;
}